{% extends 'base.html' %}

{% block content %}
  <h1>Изменения документа</h1>
  <a href="{{ url_for('docs') }}">вернуться к списку</a>
  <form method="post">
    <label for="title">Заголовок</label><br>
    <input type="text" id="title" name="title" value="{{ doc.title }}"><br>
    <label for="content">Содержание</label><br>
    <textarea id="content" name="content">{{ doc.content }}</textarea><br>
    <input type="submit" value="Сохранить">
  </form>
  <a href="{{ url_for('archiv_for_doc', doc_id=doc.id) }}">Просмотреть историю</a><br><br>

  <a href="{{ url_for('compare_doc_major', doc_id=doc.id) }}">Сравнить с последней</a><br>
  <a href="{{ url_for('compare_doc_minor', doc_id=doc.id) }}">Сравнить с первой</a><br><br>

  <a href="{{ url_for('del_doc', doc_id=doc.id) }}">Удалить документ</a>

{% endblock %}