{% extends 'base.html' %}

{% block content %}
  <h1>Просмотр документа</h1>
  <a href="{{ url_for('docs') }}">вернуться к списку</a>
  <div>
    <p><strong>Заголовок:</strong></p>
    <p>{{ doc.title }}</p><br>
    <p><strong>Содержание:</strong></p>
    <p>{{ doc.content }}</p><br><br>
  </div>
  <a href="{{ url_for('update_doc', doc_id=doc.id) }}">Изменить документ</a><br><br>
  <a href="{{ url_for('archiv_for_doc', doc_id=doc.id) }}">Просмотреть историю</a><br><br>

  <a href="{{ url_for('compare_doc_major', doc_id=doc.id) }}">Сравнить с последней</a><br>
  <a href="{{ url_for('compare_doc_minor', doc_id=doc.id) }}">Сравнить с первой</a><br><br>

  <a href="{{ url_for('del_doc', doc_id=doc.id) }}">Удалить документ</a>

{% endblock %}